.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 15%;
  overflow: auto;
  height: 800px;
  background-color: var(--bg-secondary);
  padding: 10px;

  .newChat {
    position: fixed;
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    color: var(--text-color);
    border-radius: 25px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow-sm);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    transition-delay: 0s;

    &:hover {
      box-shadow: var(--shadow-md);
    }
  }

  .historyChat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;

    .historyList {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    .historyTitle {
      padding: 0 10px;
      font-size: 13px;
      color: #96999f;
      user-select: none;
    }

    .historyCard {
      display: flex;
      flex-direction: column;

      .historyItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 6px 10px;
        cursor: pointer;

        .historySessionTitle {
          color: var(--text-color);
          font-size: 15px;

          &.historyActive {
            color: #3964fe;
          }
        }

        .historyBtn {
          padding: 2px 4px;
          color: var(--text-secondary);
          font-size: 16px;
          border-radius: 50%;
          transition: all 0.3s ease 0s;

          &:hover {
            background-color: #dcdfe2;
          }
        }

        &:hover {
          background: rgba(0, 0, 0, 0.03);
        }

        &.historyActive {
          background-color: #e4edfd;
        }

      }

    }
  }
}

.right {
  width: 85%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .introductory {
    display: flex;
    gap: 10px;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
  }

  .chatBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 60%;
    height: 14%;
    border: 0.5px solid rgba(197, 196, 196, 0.6);
    border-radius: 20px;
    box-shadow: var(--shadow-sm);
    cursor: text;

    .chatInput {
      width: 655px;
      padding: 5px 10px;
      border: none;
      outline: none;
      font-size: 1.1rem;
      color: var(--text-color);
      background-color: var(--bg-color);
    }

    .chatSubmit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;
      padding: 0 10px;

      .chatThinking {
        border: 1px solid var(--border-color);
        border-radius: 30px;
        padding: 5px 10px;
        cursor: pointer;
        background-color: #ffffff;
        transition: background-color 0.3s ease;
        transition-delay: 0s;
        user-select: none;

        &:hover {
          background-color: #f2f3f4;
        }

        &.active {
          background-color: #edf3fe;
          color: #3964fe;
          border: 1px solid #b7c8fe;
        }
      }

      .submitImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background: #5381f3;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;

        &.inputActive {
          color: #fff;
          background: #b0c1ff;
          cursor: not-allowed; // 显示禁止光标
        }
      }
    }


  }
}