.configContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subTitle {
  font-size: 12px;
}

.aiProvider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 30px;
    border: 0.5px solid #b5b4b43b;
    background: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s ease 0s;

    &.active {
      position: relative;
      background: #f4fff7;

      &::after {
        content: '';
        position: absolute;
        top: 8px;
        right: 8px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #16a34a;
        border: 2px solid #fff;
      }

      &:hover {
        background: #edfff1;
      }
    }

    .imgContainer {
      padding: 10px;
      background-color: #dddddd69;
      border-radius: 10px;
      line-height: 10px;

      .img {
        height: 25px;
      }
    }

    .name {
      font-size: 14px;
    }

    &:hover {
      background: #e6e6e63c;
    }

  }
}

.aiConfig {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .aiDetail {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid #b5b4b43b;
    border-radius: 10px;

    &.active {
      position: relative;

      &::after {
        content: '已配置';
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 2px 8px;
        color: #16a34a;
      }
    }
  }

  .aiAPIKEY {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}