.loading {
  position: fixed;
  inset: 0;
  z-index: 2000;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 80px;
  color: var(--accent-color);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
