.switch {
  font-size: 17px;
  padding: 10px 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background: var(--bg-color);
  cursor: pointer;
  transition: background 0.2s ease 0s;

  &:hover {
    background: var(--theme-color-hover);
  }
}

.sun {
  font-size: 18px;
  color: var(--text-color);
  width: 24px;
  height: 24px;
}

.moon {
  font-size: 18px;
  color: var(--text-color);
  width: 24px;
  height: 24px;
}

.input:focus+.slider {
  box-shadow: 0 0 1px #183153;
}

html[data-theme="dark"] .slider {
  background-color: #183153;
}

html[data-theme="dark"] .slider:before {
  transform: translateX(30px);
}