html,
body,
#root {
  min-height: 100%;
}

html {
  background: var(--bg-color);
  // scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.page-loading,
html.page-loading body {
  overflow: hidden;
  overscroll-behavior: none;
}

input,
button,
textarea,
select {
  font: inherit;
}
